* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial,sans-serif;
    font-size: 14px;
    background: #000;
    color: white;
    /*background: url(/images/Space\ 2.JPG);*/
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    
}

#wrapper{
    overflow: hidden;
}
#top-wrapper {
    background-color: #000;
}

#logo-wrapper {
    margin: auto;
    width: 100%;  
}


.logo {
    display: block;
    margin: auto; 
}

.box img{
    margin-top: 90px;
    margin-right: auto;
    margin-left: auto;
    width: 250px;
    display: block;
}

#hero-content-wrapper {
    text-align: center;
    margin: 40px;  
}

.hero{
    margin-bottom: 50px;
}

#hero-header{
    margin-top: 10px;
    font-size: 80px;
    color: whitesmoke;
    margin-bottom: 100px;
}

#hero-content{
    font-size: 40px;
}

.join-btn {
    width: 57%;
    background: #000;
    color: #fff;
    padding: 15px 20px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    font-size: 40px;
    text-decoration:none;
    opacity: 0.8;
    transition: all 1s;
}

.join-btn:hover {
    background-color: #fff;
    color: #000;
}

#info-wrapper {
    margin-top: 150px;
}

.info-header {
    text-align: center;
    font-size: 30px;
    margin-bottom: 100px;
}

.container-1{
    display: flex;
}

.container-2{
    display: flex;
    margin-top: 100px;
}

.container-1 div{
    font-size: 25px;
    padding: 10px;
}

.container-2 div{
    font-size: 25px;
    padding: 10px;
}

#info h1 {
    margin-bottom: 30px;
}

.team-header {
    margin: 100px auto;
    text-transform: uppercase;
    text-align: center;
    font-size: 100px;
    background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      text-decoration-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 3s linear infinite;
    }
    
    @keyframes textclip {
      to {
        background-position: 200% center;
      }
    }

.team-grid {
    margin-top: 100px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 100px;
    grid-row-gap: 150px;
}

.team-wrapper{
    position: relative;
    width: 90%;
    height: 400px;
    margin: 0 auto;
    /*border: 1px green solid;*/ 
}

.team-img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: auto;
    right: auto;
    bottom: 40px;
    z-index: 1;   
}

.team-wrapper img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    display: inline-block;
    border-radius: 30px;
    box-shadow: 0 0 5px;
    transition: transform 1s;
}

.team-wrapper img:hover {
    transform: scale(0.9);
}

.twitter-link {
    position: absolute;
    left: 0%;
    top: 100%;
    right: 0%;
    bottom: 0%;
    color: #2196f3;
    display: flex;
    width: 100%;
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
}


#slide {
    width: 100vw;
    margin: 150px auto 50px;
    text-align: center;
}


/*#slide h1 {
    font-size: 100px;
    animation: scaling 3s ease-in-out infinite;
}

@keyframes scaling {
    0%, 100% {
        transform: scale(0.7);
    }
    50% {
        transform: scale(1.1);
    }
} */

#slide h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 100px;
    background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      text-decoration-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 3s linear infinite;
    }
    
    @keyframes textclip {
      to {
        background-position: 200% center;
      }
    }


.slide_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    margin-top: 50px;
    margin-bottom: 50px;
}


.content{
    height: 750px;
    width: 80%;
    position: relative;
}


.content .images{
    height: 100%;
    width: 100%;  
}


.content .images img{
    height: 100%;
    width: 100%;
    vertical-align: middle;
    border-radius: 5px;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px plum;
}


.btm-slides{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;  
}

.btm-slides span{
    height: 15px;
    width: 50px;
    border: 2px solid white;
    margin: 0 3px;
    cursor: pointer;
}

.sliders{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    cursor: pointer;
    border: 2px solid white;
    background: rgba(255,255,255,0.1);
}

.sliders:hover{
    background: rgba(255,255,255,0.2);
}

.right{
    right: 0;
}

.sliders span{
    line-height: 41px;
    font-size: 35px;
    color: white;
} 

.last {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
    

.last a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    letter-spacing: 4px;
    font-weight: bold;
    text-decoration: none;
    font-size: 40px;
    overflow: hidden;
    transition: 0.2s;
}

.last a:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}


.last a span {
    position: absolute;
    display: block;
}

.last a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}

.last a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

.last a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

.last a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.last a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

.last a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.last a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

.last a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

hr {
    margin-top: 60px;
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    text-decoration: none;
    
}

#developed {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
}

.footer .Unofficial {
    margin-top: 30px;
    font-size: 15px;
    font-style: italic;
}


/* Media Queries */

@media (max-width: 1000px) {
    #wrapper {
        
        width: 100vw;
        margin-top: 70px;
    }
    #hero-content-wrapper h1{
        text-align: center;
        font-size: 60px;
        margin: 55px; 
        margin-top: 50px; 
    }
    .join-btn {
        width: 80%;
        margin-top: 30px;
        background: #000;
        color: #fff;
        padding: 15px 20px;
        border-radius: 15px;
        text-align: center;
        cursor: pointer;
        font-size: 40px;
        text-decoration:none;
        opacity: 0.8;
        transition: all 1s;
    }

    .container-1, .container-2 {
        display: block;
    }
    
    .container-1 div,  .container-2 div {
        font-size: 25px;
        margin: auto;
        text-align: center;
    }

    .team-grid {
        margin-top: 100px;
        display: block;
    }
    
    .team-wrapper{
        position: relative;
        width: 90%;
        height: 50vh;
        margin: 250px auto;
        /*border: 1px green solid;*/ 
    }
    
    .team-img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0%;
        top: auto;
        right: auto;
        bottom: 40px;
        z-index: 1;   
    }
    
    .team-wrapper img {
        max-width: 100%;
        vertical-align: middle;
        display: inline-block;
        border-radius: 20%;
        box-shadow: 0 0 5px;
        transition: transform 1s;
        
    }
    
    .twitter-link {
        position: absolute;
        left: 0%;
        top: 100%;
        right: 0%;
        bottom: 0%;
        color: #2196f3;
        display: flex;
        width: 100%;
        font-size: 100px;
        padding-top: 10px;
        padding-bottom: px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        text-decoration: none;
    }
    .team-wrapper img:hover {
        transform: none;
    }

    #slide {
        width: 100vw;
        margin: 100px auto 10px;
    }

    .slide_wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        min-height: 50vh;
        margin-top: 90px;
        margin-bottom: 10px;
        width: 100vw;
        height: 60%;
    }
    .content{
        height: 100%;
        width: 95%;
        position: relative;
    }
    
    
    .content .images{
        height: 100%;
        width: 100%;  
    }

    .content .images img{
        height: 100%;
        width: 100%;
        vertical-align: middle;
        border-radius: 25px;
        box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px plum;
    }

    .last {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        text-decoration: none;
    }
    
    #developed {
        font-size: 10px;
        display: block;
        margin-bottom: 60px;
    }

    hr {
        display: none;
    }
    
    .footer .Unofficial {
        margin-top: 40px;
        font-size: 15px;
        font-style: italic;
    }
    
        
    


    
   


    

    

}